*{
    margin: 0;
    padding: 0;
    font-family: "Î¢ÈíÑÅºÚ";
}
a{
    text-decoration: none;
}
.myTrant{
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
